<a href="https://colab.research.google.com/github/7ayush/DataScience/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s = "Hi there Class!"
list=s.split();
print(list);

['Hi', 'there', 'Class!']

In [20]:
planet = "Earth"
diameter = 12742
print("The diameter of "+planet+" is "+str(diameter)+" kilometers.")

The diameter of Earth is 12742 kilometers.

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0]);

hello

In [17]:
mail="user@domain.com"
lst=(mail.split("@"))
print("www."+lst[1])

www.domain.com

In [23]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

In [25]:
def find(a,c):
  if a.find(c)!=-1:
    print("True")
  else:
    print("False")
    
a="I have a dog"
b="I have a cat"
c="dog"
find(a,c)
find(b,c)

True
False

In [27]:
def count(a,c):
  print(a.count(c))
    
a="I have a dog dog dog dog"
b="I have a cat dog "
d="I have a cat"
c="dog"
count(a,c)
count(b,c)
count(d,c)

4
1
0